#header {
    display: flex;
    background-color: #000000;
    padding: 17px;
    justify-content: space-between; 
    align-items: center;     
}

.Header.Link {
    padding: 0 40px;
    text-align: left;
}
nav {
    position: sticky;
    text-align: left;
}

#UserPage {
    text-align: right;
}